@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');

*{
  box-sizing: border-box; /* hace que el padding y el border pasen a formar parte del cálculo del ancho de la caja y no lo suman posteriormente */
  margin: 0;
  padding: 0; /* area de relleno de los cuatro lados */
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
}

/* body{
  background-color:rgb(216, 216, 90) ;
} */

.header {
  background-color:#809a70 ;
  display: flex; /*indica la capacidad de un elemento flexible para alterar sus dimensiones y llenar el espacio disponible */
  justify-content /* define cómo el navegador distribuye el espacio entre y alrededor de los items flex, a lo largo del eje principal de su contenedor */ : space-between; 
  align-items: center;
  height: 113px;
  padding: 10px 20px 3px 70px;
  
}

.header .logo{
  cursor: pointer; /*crea la manito al pasar por encima*/
}

.header .logo-titulo{
  font-size: 50px;
  color:#f5f5f5;
  font-weight:300;
}

.header .logo-titulo span{
  font-weight: 700;
  font-size: 50px;
}
/*.header .logo img{
  height: 66px;
  width: auto;
  border-radius: 50px;
  transition: all 0.3s;
}*/

/*.header .logo img:hover{ /*hace un efecto sobre la imagen
transform: scale(1.2);
}*/

.header .nav-menu{
  list-style: none; /*hace que se quiten los puntos de la lista */
}

.header .nav-menu li{
  display: inline-block; /*fluyen con el texto y demás elementos como si fueran elementos en-línea y además respetan el ancho, el alto y los márgenes verticales*/
  padding: 0 20PX;
}

.header .nav-menu li:hover{
  transform:scale(1.1);
}

.header .nav-menu-item a{
  font-size: 700;
  color: #f5f5f5;
  text-decoration: none; /* quitar las lineas por debajo de los enlaces*/
}

.header .nav-menu li a:hover{
  color:rgb(216, 216, 90); /*añade color al pasar encima de los links*/
}

.header .btn button{
  font-weight: 300;
  color: #f5f5f5;
  padding: 7px 15px;
  background-color:rgb(158, 158, 44) ;
  border:none;
  border-radius: 100px ;
  cursor: pointer;
  transition: all 0.3s;
}

.header .btn button:hover{
  background-color: rgb(158, 158, 44);
  color:beige;
  transform:scale(1.1) 
} 

.banner{
  width: 100%;
  height: 700px;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/haciendo-cafe.jpg);
}

.capa{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); /*colocar una pantalla semioscuro en la imagen*/
}

.info{
  z-index: 1; /*contenedor encima de la capa*/
  width: 100%;
  max-width: 550px;
  text-align: center;
}

.info h2{
  color: #fff;
  font-size: 45px;
  margin-bottom: 1px; /*empuja el texto un poco hacia abajo*/
  letter-spacing: 1px; /*espacio entre letras*/
}

.info p{
  color: #c7c7c7;
  line-height: 1.7; /*espacio entre lineas*/

}
