body{
  background-color:#eee9e4;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
}


.section_AcercaDeNosotros{
  display: flex;
  width: 100%;
  min-height: 500px;
  justify-content: center;
}

.section_AcercaDeNosotros div{
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.section_AcercaDeNosotros h1{
  padding: 20px;
  margin-top: 30px;
  font-size: 40px;
  color: #809a70;
  text-align: center;
}


.section_AcercaDeNosotros p{
  text-align: justify-all;
  margin-left: 10px;
  font-size: 18px;
  text-align: left;
  line-height: 1.5;
}

.section_AcercaDeNosotros img{
  width: 350px;
  min-height: 300px;
  float: left;
  margin: 40px;
}

/*formulario*/

.section_FormularioContactanos{
  width: 1000px;
  min-height: 500px;
}

.section_FormularioContactanos{
  width: 1000px;
  padding: 50px;
  margin: auto;
  border-radius: 4px;
  font-family: 'calibri';
}

.section_FormularioContactanos h3{
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: #809a70;
}

div.nombre_email {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.formulario textarea{
  margin-top: 1rem;
  padding: 1rem;
  width: calc(100% - 30px);
  resize: none;
  border: none;
  font-size: 18px;
  font-family: 'calibri';
  background-color: #eeeeee;
  box-shadow: 4px 4px 4px 0 #30303096, -5px -5px 3px 0 #fff;
}

.Nombre, .correo {
  width: 50%;
  padding: 10px;
  font-family: 'calibri';
  font-size: 18px;
  border: none;
  background-color: #eeeeee;
  box-shadow: 4px 4px 4px 0 #30303096, -5px -5px 3px 0 #fff;
}

.formulario button{
  width: 20%;
  border: none;
  font-size: 18px;
  background-color: #eeeeee;
  box-shadow: 4px 4px 4px 0 #30303096, -5px -5px 3px 0 #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem
}

button:hover{
  cursor: pointer;
  color: #fff;
  background-color: rgb(38, 43, 43);
}

.formulario p{
  display: flex;
  font-size: 20px;
  justify-content: center;
  color: #000000;
}


