body {
  background-color: #eee9e4;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

section {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem auto;
  padding: 0 10px;
  gap: 40px;
  max-width: 80rem;
  /*investigar*/

}

.curso {
  max-width: 360px;
  height: 540px;
  border-radius: 2px;
  border-width: thin;
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
  transition: all 400ms ease;
}

.curso:hover {
  cursor: pointer;
  transform: translateY(-4%);
  -webkit-box-shadow: 7px 7px 14px -1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 7px 7px 14px -1px rgba(0, 0, 0, 0.35);
  box-shadow: 7px 7px 14px -1px rgba(0, 0, 0, 0.35);
}

img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

div {
  text-align: center;
  padding: 10px;
}

h3 {
  color: #809a70;
  font-size: 25px;

}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

button {
  font-size: 16px;
  color: #809a70;
  padding: 10px 20px;
  border-radius: 5px;
  border: solid;
  border-width: thin;
  background-color: #eee9e4;
  margin-top: 15px;
}