/*body.nuestro-blog {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}*/

section.nuestro-blog {
    margin: 0px;
    padding: 10px;
    background-color: #eee9e4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.h1-nuestro-blog {
    font-family: sans-serif;
    color: #809a70;
    font-size: 2.3rem;
}

section.recetas-nuestroblog {
    display: flex;
    flex-direction: column;
}

.receta {
    width: 750px;
    min-height: 250px;
    padding: 30px;
    margin: 30px;
    border-radius: 2%;
    background-color: #eee9e4;
    box-shadow: -3px -3px 3px #ffffff, 3px 3px 3px rgba(0, 0, 0, 0.6);
}

h2.recetas{
    font-family: sans-serif;
    color: #809a70;
    font-size: 1.8rem;
}

.img-recetas {
    width: 750px;
    height: 400px;
    object-fit: cover;
    border-radius: 5%;
}

p.receta-descripcion {
    font-family: arial;
    height: auto;
    width: auto;
    border: none;
    color: #333333;
    font-size: 16px;
    font-weight: 100;
}

h2.nuestros-cursos {
    font-family: sans-serif;
    color: #809a70;
    font-size: 1.8rem;
    width: 200px;
}

p.subtexto-verde {
    font-family: arial;
    height: auto;
    width: auto;
    color: #809a70;
    font-size: 1.3rem;
    font-weight: 100;

}

p.subtexto-negro {
    font-family: arial;
    height: auto;
    width: auto;
    border: none;
    color: #333333;
    font-size: 1.3rem;
    font-weight: 100;
}

p.talleres{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 16px;
}

aside.nuestro-blog {
    padding: 0px 0px 0px 20px;
    margin: 45px;
    width: 225px;
    min-height: 250px;
    background-color: #eee9e4;
}

div.precio-y-detalles {
    display: flex;
    justify-content: space-between;
}

button.mas-informacion {
    width: 200px;
    background-color: #809a70;
    color: #fff;
    border-radius: 5%;
    font-size: 15px;
    border: none;
    padding: 15px 5px 15px 5px;
}
