body{
  background-color: #f5f5f5;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}


.section_FormularioContactanos{
width: 2000px;
min-height: 2000px;
}

.section_AcercaDeNosotros{
  width: 1000px;
  min-height: 500px;
  align-items: center;
  justify-content: center;
}

.section_AcercaDeNosotros h1{
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  color: rgb(68, 155, 68);
}


.section_AcercaDeNosotros p{
  text-align: justify-all;
  margin-top: 10px;
  font-size: 16px;
  margin: 20px;
}

img{
  width: 400px;
  min-height: 300px;
  float: left;
  margin: 20px;
}

.section_FormularioContactanos{
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: #f5f5f5;
}

.section_FormularioContactanos h1{
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(68, 155, 68);
}

.controls{
  width: 100%;
  background-color: darkgray;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 12px;
  border: 1px solid rgb(4, 21, 116);
  font-family: 'calibri';
  font-size: 18px;
}

.section_FormularioContactanos p{
  min-height: 40px;
  text-align: center;
  font-size: 18px;
}
